<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Home' %>

<% if signed_in? %>

    <div class="row-fluid">


      <div class="span3">
        <h3>Ricette consigliate</h3>

        <%= render @recipes_suggested%>

      </div>


      <div class="span3">

        <h3>Cuoco consigliato</h3>

        <%= gravatar_cuoco @user %>

      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h3>Menù consigliato</h3>
        <div class="span10">
        <%= image_tag("menu.png")%>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <h3>Menù del giorno</h3>
       <div class="span10">
        <%= image_tag("menu.png")%>
       </div>
      </div>
    </div>



<% else %>
    <div class="center hero-unit">
      <h1>Benvenuto su FoodBook</h1>
      <%=link_to "Login", signin_path, class: 'btn btn-large btn-primary' %>
      <%= link_to 'Registrati', signup_path, class: 'btn btn-large btn-primary' %>
      <%=link_to "Info", faq_path, class: 'btn btn-large btn-primary' %>

      <h2>
        Accedi o registrati per iniziare a usare FoodBook
      </h2>

    </div>
<% end %>